* {
    box-sizing: border-box;
}

body, html {
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'VT323', monospace;
    font-size: 1.4em;
    background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/413150/capsule_616x353.jpg?t=1608624324);
    background-size: cover;
    /* opacity: 90%; */
}

.homeFullPage {
    display: flex;
    flex-direction: column;
}

.headline {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline-flex;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    background-color:
}

.dropdown .dropbutton {
    /* font-size: 16px; */
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdownContent a:hover {
    /* background-color: #ddd; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.MainPageBox {
    display: flex;
    background: lightgreen;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    /* width: 80%; */
    border: 2px solid mediumseagreen;
    opacity: 90%;
    margin-left: 15%;
    margin-right: 15%;
}

.EndingBox {
    display: flex;
    flex-direction: column;
    background: black;
    margin-top: 2%;
    color: white;
}

.MarriageCandidates {
    display: flex;
    flex-wrap: wrap;
}

/* Lays out the marriage candidates in the home page from
left to right, top to bottom*/
.Abigail, .Alex, .Emily, .Elliott, .Haley, .Harvey,
.Leah, .Sam, .Maru, .Penny, .Sebastian, .Shane {
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

/*layout for the pages that are not the home page*/
.mainLayout {
    display: flex;
}

.InfoBox {
    width: 10%;
    height: 10%;
    background-color: gray;
    margin-right: auto;
}

/*Abigail's Page */
.AbigailLoveInterestBox {
    /* display: flex;
    flex-direction: column; */
    padding: 10px;
    padding-top: 0px;
    width: 20%;
    height: 20%;
    background: darkorchid;
    margin-left: 1%;
    margin-right: 3%;
}

.AbigailMarriageCandidates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10%;
}
.AbigailMarriageCandidates img {
    width: 50px;
}
.AbigailMarriageCandidates div {
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 33%;
}
.AbigailMarriageCandidates a {
    text-decoration: none;
    color: white;
}

.AbigailBox {
    display: flex;
    flex-direction: column;
    background-color: darkorchid;
    padding: 1%;
    width: 60%;
    height: auto;
    /* font-size: 1.1em; */
}

.AbigailAvator {
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    border: 5px solid orchid;
    width: 45%;
    text-align: center;
}

.AbigailAvatorImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    /* padding-left: 50%; */
}

.AbigailAvatorImg img {
    width: 60%;
}

.AboutAbigail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orchid;
    /* height: 10%; */
}

.BirthdayAbigail, .FamilyAbigail, .FriendAbigail {
    display: flex;
    border: 1px solid orchid;
}

.BirthdayAbigailHead, .FamilyAbigailHead, .FriendAbigailHead {
    display: inline-flex;
    background-color: orchid;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.BirthdayAbigailDate, .FamilyAbigailInfo, .FriendAbigailInfo {
    text-align: left;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.AbigailGalleryPics {
    display: flex;
}

.AbigailGalleryPics img {
    width: 25%;
}
